<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCodegen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4CC1FE41EA9F8C0000A3A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CC1FF81EA9F8C0000A3A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4CC20031EA9F8C0000A3A81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
